.container {
  text-align: center;
  width: 500px;
  margin: 100px auto;
  display: block;
}

.header {
  display: block;
}

.new-todo-input {
  margin: 1em;
  padding: 0.5em;
  font-size: 1.2em;
  background: #f3f3f3;
  color: #444444;
  min-width: 300px;
}

.new-todo-submit {
  margin: 1em;
  padding: 0.5em;
  font-size: 1.2em;
  background: lightgreen;
  font-weight: 800;
}

.divider {
  border-bottom: 3px solid gray;
}

.todo-list {
  display: block;
}

.todo {
  margin: 1.5em auto;
  padding: 0.5em 1em;
  font-size: 1.2em;
  background: #f3f3f3;
  color: #444444;
  max-width: 400px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.todo-delete {
  cursor: pointer;
}
